.player {
	width: 300px;
	height: 450px;
}
#achtergrond {
	background-image: url(../images/1.png);
	color: white;
	font-family: 'Bebas Neue', cursive;
	position: 
}

.jumbotron {
	height: 1125px;
	background-size: cover;
	width: 100%;
	background-position: center center;
}

#border {
	border-color: #FF9D62;
	border-style: solid;
	border-width: 50px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size :9vw;
}

.center2 {
	position: absolute;
	top: 60.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4vw;
}

.orange {
	color: #FF9D62;
	font-family: 'Bebas Neue', cursive;
}

.image {
	width: 100%;
}

h1 {
	font-size: 350%;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  }